<div class="row my-5">
  <div class="col-12">
    <h3>Search Movies</h3>
    <!-- <input type="text" #searchMovie class="form-control" /> -->
    <form [formGroup]="searchForm">
      <div class="form-group">
        <input
          type="text"
          placeholder="Search Movies Here"
          formControlName="searchMovie"
          class="form-control"
        />
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-3 mb-5" *ngFor="let movie of movieArr">
    <div class="card h-100">
      <img
        [src]="imgUrl + movie.poster_path"
        class="card-img-top movieImg"
        alt="{{ movie.original_title }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ movie.original_title }}</h5>
        <p class="card-text truncate-multiline">
          {{ movie.overview }}
        </p>
      </div>
    </div>
  </div>
</div>
